@import url("https://fonts.googleapis.com/css?family=Poppins:400,700|Outfit:700");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family-poppins: "Poppins", Helvetica;
  --font-family-outfit: "Outfit", Helvetica;
  --font-size-xxxs: 20px;
  --font-size-xxs: 26px;
  --font-size-xs: 27px;
  --font-size-s: 31px;
  --font-size-m: 68px;
  --black: #000000;
  --white: #ffffff;
  --primary-blue: #044FC0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-poppins);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
  background: var(--white);
}
